body {
  background-color: whitesmoke;
  margin-bottom: 30px;
}

/* Header */

.header {
  background-color: red;
}

.basket i {
  font-size: 50px;
  position: fixed;
  right: 30px;
  top: 30px;
}
/* Shop floor */

.middle-wrapper-content {
  margin-top: 5vh;
}

.shop-floor{
  flex-wrap: wrap;
  text-align: center;
}

.item {
  display: inline-block;
  margin: 10px
}
