@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700);

body {
  font-family: Open Sans;
  background-color: whitesmoke;
  margin-bottom: 30px;
}

/* Header */

.header {
  height: 310px;
  text-align: center;
  background-color: #222;
  background: repeating-linear-gradient(180deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
}

.header h1 {
  padding-top: 6vh;
  color: #d4af37;
  font-size: 6em;
  font-weight: 600;
}

.header h3 {
  padding-top: 2vh;
  color: whitesmoke;
  font-size: 2em;
}

/* Basket on the right */

.basket-container {
  height: 400px;
  width: 400px;
  position: fixed;
  top: 34px;
  display: flex;
  align-items: flex-start;
  transition: 0.5s ease-in-out;
  z-index: 3;
}

.hidden {
  right: -285px;
}

.visible {
  right: 0;
}

.basket-list {
  height: 100%;
  width: 100%;
  background-color: lightseagreen;
  border-bottom-left-radius: 10px;
}

.basket-tab {
  color: whitesmoke;
  background: #009688;
  width: 171px;
  height: 236px;
  /*width: 15vh;
  height: 23vh;*/
  text-align: center;
  padding-top: 24px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px
}

.basket-tab i {
  padding-top: 5vh;
  font-size: 5vh;

}

.basket-items{
  overflow: scroll;
  height: 321px;
  margin: 5% auto;

  width: 215px;
}


.basket-list h1 {
  font-weight: bolder;
  color: #222;
  font-size: 1.5em;
  text-align: center;
}
/* Shop floor */

.middle-wrapper-content {
  margin-top: 5vh;
}

.shop-floor{
  flex-wrap: wrap;
  text-align: center;
}

.item {
  display: inline-block;
  margin: 2vh;
}
